<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-模糊查询</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>

<body>
    <div id="box">
        <!-- 模糊查询 -->
        <input type="text" v-model="value" @input="hadleValue()">
        <ul>
            <li v-for="data in datalist">
                {{data}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#box',
            data:{
                value: '',
                datalist: ["aaa","bbb","ccc","abb","ddd","cdd","ddc"],
                list: ["aaa","bbb","ccc","abb","ddd","cdd","ddc"],
            },
            methods:{
                hadleValue(){
                    var selList = this.list.filter(item => {
                        if(item.indexOf(this.value)>-1){
                            return item;
                        }
                    })
                    this.datalist = selList;
                }
            }
        })
    </script>

</body>

</html>